<div
id="menu"
class="fixed top-0 right-0 w-full h-full bg-[#56A963] translate-x-full transition-transform duration-300 z-50"
>

<div class="p-8">

<div class="flex justify-between items-center mb-10">

<h2 class="text-[#E1DED6] text-xl font-bold">
ECHO SONORE
</h2>

<button id="closeMenu" class="text-[#E1DED6] text-3xl">
✕
</button>

</div>



<nav class="space-y-6 text-[20px] font-bold">

<a href="/" class="block ml-[30px] text-[#E1DED6]">ACCUEIL</a>
<a href="/about" class="block ml-[30px] text-[#E1DED6]">À PROPOS</a>
<a href="/programme" class="block ml-[30px] text-[#E1DED6]">PROGRAMME</a>
<a href="/artists" class="block ml-[30px] text-[#E1DED6]">ARTISTES</a>
<a href="/scenes" class="block ml-[30px] text-[#E1DED6]">SCÈNES</a>
<a href="/infos" class="block ml-[30px] text-[#E1DED6]">INFOS PRATIQUES</a>
<a href="/contacts" class="block ml-[30px] text-[#E1DED6]">CONTACT</a>
<a href="/login" class="block ml-[30px] text-[#E1DED6]">COMPTE</a>

</nav>

<div class="flex justify-center my-[40px]">
<div class="h-[4px] w-[300px] bg-[#E1DED6]"></div>
</div>

<div class="flex justify-center gap-[30px]">

<img src="/twitter.svg" class="w-[38px]" />
<img src="/instagram.svg" class="w-[38px]" />
<img src="/facebook.svg" class="w-[38px]" />

</div>

<div class="mt-[40px] text-[#E1DED6] text-sm ml-[30px] space-y-2">

<p>mentions légales</p>
<p>contact@echosonore.fr</p>
<p>© Echo Sonore</p>

</div>

</div>

</div>

<script>
const menu = document.getElementById("menu");
const closeBtn = document.getElementById("closeMenu");

closeBtn?.addEventListener("click", () => {
  menu.classList.add("translate-x-full");
});
</script>